name: CI Pipeline
on:
    workflow_dispatch: 
    # push: 
env:
  path: ./src
  CCN: 12
  Threshold: nloc=30
  arguments: 4
  language: cpp
  verbose: true

jobs:
    build_unit_tets:
        name: Build Unit Tests
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v4
      
            - name: Get Ninja
              uses: seanmiddleditch/gha-setup-ninja@master 
      
            - name: Build 
              working-directory: test/modbus
              run: |
                mkdir out
                cmake -Bout -GNinja
                cmake --build out

            - name: Save Build Artifacts
              uses: actions/upload-artifact@v4
              with:
                name: modbus_unit_tests_app
                path: ./test/modbus/out
                if-no-files-found: warn
                retention-days: 1
                overwrite: true
            
    
    build_STM32G070RB_modbus_master:
        name: Build STM32G070RB ModBus Master
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v4

            - name: Install Arm GNU Toolchain (arm-none-eabi-gcc)
              uses: carlosperate/arm-none-eabi-gcc-action@v1
      
            - name: Get Ninja
              uses: seanmiddleditch/gha-setup-ninja@master 
      
            - name: Build 
              working-directory: examples/STM32G070RB_MODBUS_MASTER
              run: |
                mkdir out
                cmake -Bout -GNinja -DCMAKE_BUILD_TYPE=Debug
                cmake --build out

    build_STM32G070RB_modbus_slave:
        name: Build STM32G070RB ModBus Slave
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v4

            - name: Install Arm GNU Toolchain (arm-none-eabi-gcc)
              uses: carlosperate/arm-none-eabi-gcc-action@v1
        
            - name: Get Ninja
              uses: seanmiddleditch/gha-setup-ninja@master 
        
            - name: Build 
              working-directory: examples/STM32G070RB_MODBUS_SLAVE
              run: |
                mkdir out
                cmake -Bout -GNinja -DCMAKE_BUILD_TYPE=Debug
                cmake --build out

    run_clang-format_check:
        name: Run Clang-format Check
        strategy:
          matrix:
            path:
              - check: 'src'
                exclude: ''
              - check: 'test'
                exclude: '(hw_test|unity|template)'
        runs-on: ubuntu-latest
        needs: [build_unit_tets,build_STM32G070RB_modbus_master, build_STM32G070RB_modbus_slave]
        steps:
            - name: checkout
              uses: actions/checkout@v4

            - name: Run clang-format style check for C/C++/Protobuf programs.
              uses: jidicula/clang-format-action@v4.13.0
              with:
                clang-format-version: '18'
                check-path: ${{matrix.path['check']}}
                exclude-regex: ${{matrix.path['exclude']}}
    
    run_unit_tests:
        name: Run Unit Tests
        runs-on: ubuntu-latest
        needs: [build_unit_tets,build_STM32G070RB_modbus_master, build_STM32G070RB_modbus_slave]
        steps:
          - name: Download Unit Tests Build Artifacts
            uses: actions/download-artifact@v4
            with:
              name: modbus_unit_tests_app

          - name: Run Unit Tests
            run: |
              chmod +x modbus_test
              ./modbus_test -v
    
    run_code_coverage_check:
        name: Run Code Coverage Check
        runs-on: ubuntu-latest
        needs: [build_unit_tets,build_STM32G070RB_modbus_master, build_STM32G070RB_modbus_slave]
        steps:
            - name: checkout
              uses: actions/checkout@v4

            - name: Download Unit Tests Build Artifacts
              uses: actions/download-artifact@v4
              with:
                name: modbus_unit_tests_app
                path: test/modbus/out

            - name: Run Unit Tests
              continue-on-error: true
              working-directory: test/modbus/out
              run: |
                chmod +x modbus_test
                ./modbus_test -v

            - name: Check Test Coverage
              uses: threeal/gcovr-action@v1.1.0
              with:
                fail-under-line: 90
    
    run_cppcheck:
        name: Run CppCheck
        runs-on: ubuntu-latest
        needs: [build_unit_tets,build_STM32G070RB_modbus_master, build_STM32G070RB_modbus_slave]
        steps:
            - name: checkout
              uses: actions/checkout@v4

            - name: Run cppcheck-annotation-action
              uses: niwciu/cppcheck-annotation-action@develop
              with:
                sources: ./src ./test/modbus
                additional-args: --force -UUNITY_FIXTURE_FREE -UUNITY_FIXTURE_MALLOC -UUNITY_OUTPUT_CHAR
                log-level: verbose
                std: c99
                suppress: missingIncludeSystem,missingInclude,unusedFunction:./test/modbus/master_PDU_read_test_runner.c
                action-fail-level: 'failure,warning'
                # annotation-notices:
                # annotation-failures: 
                # annotation-warnings: 
                # annotation-level-default: 

            - name: Annotate lines with errors
              if: always()
              uses: yuzutech/annotations-action@v0.5.0
              with:
                repo-token: "${{ secrets.GITHUB_TOKEN }}"
                title: 'Results of CppCheck'
                input: 'annotations.json'
            

    run_code_complexity_check:
        name: Run Code Complexity Check
        runs-on: ubuntu-latest
        needs: [build_unit_tets,build_STM32G070RB_modbus_master, build_STM32G070RB_modbus_slave]
        steps:
            - name: checkout
              uses: actions/checkout@v4

            - name: Lizard Runner
              uses: Uno-Takashi/Lizard-Runner@v3
              with: 
                path: ${{env.path}}
                CCN: ${{env.CCN}}
                Threshold: ${{env.Threshold}}
                arguments: ${{env.arguments}}
                language: ${{env.language}}
                verbose: ${{env.verbose}}

          
    generate_code_coverage_report:
        name: Generate Code Coverage Report
        runs-on: ubuntu-latest
        needs: 
            - run_clang-format_check
            - run_unit_tests
            - run_code_coverage_check
            - run_cppcheck
            - run_code_complexity_check
        steps:
            - name: checkout
              uses: actions/checkout@v4

            - name: Download Unit Tests Build Artifacts
              uses: actions/download-artifact@v4
              with:
                name: modbus_unit_tests_app
                path: test/modbus/out

            - name: Run Unit Tests
              continue-on-error: true
              working-directory: test/modbus/out
              run: |
                chmod +x modbus_test
                ./modbus_test -v
            
            - name: Create GCOVR Report Folder
              run: mkdir gcovr_report

            - name: Generate Code Coverage Report
              uses: threeal/gcovr-action@v1.1.0
              with:
                html-out: ./gcovr_report/modbus_gcovr_report.html
                html-details: true
                html-title: Modbus Library Test Coverage Report
                html-theme: github.dark-green

            - name: Save Code Coverage Report
              uses: actions/upload-artifact@v4
              with:
                  name: Code_Coverage_Report
                  path: ./gcovr_report/modbus_gcovr_report.html
                  if-no-files-found: warn
                  retention-days: 5
                  overwrite: true

    generate_code_complexity_report:
        name: Generate Code Complexity Report
        runs-on: ubuntu-latest
        needs: 
            - run_clang-format_check
            - run_unit_tests
            - run_code_coverage_check
            - run_cppcheck
            - run_code_complexity_check
        steps:
            - name: checkout
              uses: actions/checkout@v4

            - name: Lizard Runner
              uses: niwciu/Lizard-Runner@develop
              with: 
                path: ${{env.path}}
                CCN: ${{env.CCN}}
                Threshold: ${{env.Threshold}}
                arguments: ${{env.arguments}}
                language: ${{env.language}}
                verbose: ${{env.verbose}}
                output_file: ./code_complexity_report.html

            - name: Save code complexity report
              uses: actions/upload-artifact@v4
              with:
                  name: Code_Complexity_Report
                  path: ./code_complexity_report.html
                  if-no-files-found: warn
                  retention-days: 5
                  overwrite: true
        
